<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> EdullAll - LMS, Tutors, Education & Online Course PHP Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- select2 -->
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- Slick -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- jquery-ui -->
    <link rel="stylesheet" href="assets/css/jquery-ui.css">
    <!-- plyr Css -->
    <link rel="stylesheet" href="assets/css/plyr.css">
    <!-- Editor js Toolbar Start -->
    <link rel="stylesheet" href="assets/css/editor-quill.css">
    <!-- animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- dataTables.dataTables -->
    <link rel="stylesheet" href="assets/css/dataTables.dataTables.min.css">
    
    <link rel="stylesheet" href="assets/css/aos.css">
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">
</head> 
<body>
    
<!--==================== Preloader Start ====================-->
  <div class="preloader">
    <img src="assets/images/icons/preloader.gif" alt="">
  </div>
<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->
<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu scroll-sm d-lg-none d-block">
    <button type="button" class="close-button"><i class="ph ph-x"></i> </button>
    <div class="mobile-menu__inner">
        <a href="index.php.html" class="mobile-menu__logo">
            <img src="assets/images/logo/logo.png" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
            
<ul class="nav-menu flex-align nav-menu--mobile">

    <li class="nav-menu__item has-submenu activePage">
        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
        <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item activePage">
                <a href="index.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home LMS</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-2.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home Online Course</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-3.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home University</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-4.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home Tutor</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-5.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home Kindergarten</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-6.php.html" class="nav-submenu__link hover-bg-neutral-30"> Home Kindergarten two</a>
            </li>
        </ul>   
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Courses</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="course.php.html" class="nav-submenu__link hover-bg-neutral-30"> Course Grid View</a>
            </li>
            <li class="nav-submenu__item">
                <a href="course-list-view.php.html" class="nav-submenu__link hover-bg-neutral-30"> Course List View</a>
            </li>
            <li class="nav-submenu__item">
                <a href="course-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Course Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="lesson-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Lesson Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="about.php.html" class="nav-submenu__link hover-bg-neutral-30"> About</a>
            </li>
            <li class="nav-submenu__item">
                <a href="about-two.php.html" class="nav-submenu__link hover-bg-neutral-30"> About Two</a>
            </li>
            <li class="nav-submenu__item">
                <a href="about-three.php.html" class="nav-submenu__link hover-bg-neutral-30"> About Three</a>
            </li>
            <li class="nav-submenu__item">
                <a href="about-four.php.html" class="nav-submenu__link hover-bg-neutral-30"> About Four</a>
            </li>
            <li class="nav-submenu__item">
                <a href="pricing-plan.php.html" class="nav-submenu__link hover-bg-neutral-30">Pricing Plan</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor.php.html" class="nav-submenu__link hover-bg-neutral-30"> Instructor</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-two.php.html" class="nav-submenu__link hover-bg-neutral-30"> Instructor Two</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Instructor Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="tutor.php.html" class="nav-submenu__link hover-bg-neutral-30"> Premium Tutors</a>
            </li>
            <li class="nav-submenu__item">
                <a href="tutor-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Premium Tutors Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="faq.php.html" class="nav-submenu__link hover-bg-neutral-30">FAQ</a>
            </li>
            <li class="nav-submenu__item">
                <a href="tuition-jobs.php.html" class="nav-submenu__link hover-bg-neutral-30">Tuition Jobs</a>
            </li>
            <li class="nav-submenu__item">
                <a href="events.php.html" class="nav-submenu__link hover-bg-neutral-30">Events</a>
            </li>
            <li class="nav-submenu__item">
                <a href="event-details.php.html" class="nav-submenu__link hover-bg-neutral-30">Event Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="apply-admission.php.html" class="nav-submenu__link hover-bg-neutral-30">Apply Admission</a>
            </li>
            <li class="nav-submenu__item">
                <a href="gallery.php.html" class="nav-submenu__link hover-bg-neutral-30">Gallery</a>
            </li>
            <li class="nav-submenu__item">
                <a href="privacy-policy.php.html" class="nav-submenu__link hover-bg-neutral-30">Privacy Policy</a>
            </li>
            <li class="nav-submenu__item">
                <a href="favorite-course.php.html" class="nav-submenu__link hover-bg-neutral-30">Favorite Course</a>
            </li>
            <li class="nav-submenu__item">
                <a href="find-tutors.php.html" class="nav-submenu__link hover-bg-neutral-30">Find Best Tutors</a>
            </li>
            <li class="nav-submenu__item">
                <a href="book-online-class.php.html" class="nav-submenu__link hover-bg-neutral-30">Book Online Class</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Dashboard</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="admin-dashbord.php.html" class="nav-submenu__link hover-bg-neutral-30"> Admin Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a href="my-profile.php.html" class="nav-submenu__link hover-bg-neutral-30">My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashbord-message.php.html" class="nav-submenu__link hover-bg-neutral-30">Message</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashbord-courses.php.html" class="nav-submenu__link hover-bg-neutral-30">Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashbord-wishlist.php.html" class="nav-submenu__link hover-bg-neutral-30">Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a href="deshbord-reviews.php.html" class="nav-submenu__link hover-bg-neutral-30">Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashbord-quiz-attempts.php.html" class="nav-submenu__link hover-bg-neutral-30">Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashbord-settings.php.html" class="nav-submenu__link hover-bg-neutral-30">Settings</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Admin Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-my-profile.php.html" class="nav-submenu__link hover-bg-neutral-30">Student My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-message.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Message</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-enrolled-courses.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Enrolled Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-wishlist.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-reviews.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-my-quiz-attempts.php.html" class="nav-submenu__link hover-bg-neutral-30">Student My Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-assignment.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Assignment</a>
            </li>
            <li class="nav-submenu__item">
                <a href="student-dashbord-settings.php.html" class="nav-submenu__link hover-bg-neutral-30">Student Settings</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-my-profile.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-message.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Message</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-enrolled-courses.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Enrolled Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-wishlist.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-reviews.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-my-quiz-attempts.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor My Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-order-history.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Order History</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-my-courses.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor My Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-announcements.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Announcements</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-assignment.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Assignment</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-quiz-attempts.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a href="instructor-dashboard-account-settings.php.html" class="nav-submenu__link hover-bg-neutral-30">Instructor Account Settings</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Product</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="product.php.html" class="nav-submenu__link hover-bg-neutral-30"> Product</a>
            </li>
            <li class="nav-submenu__item">
                <a href="product-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Product Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="cart.php.html" class="nav-submenu__link hover-bg-neutral-30">Cart</a>
            </li>
            <li class="nav-submenu__item">
                <a href="checkout.php.html" class="nav-submenu__link hover-bg-neutral-30">Checkout</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a href="blog.php.html" class="nav-submenu__link hover-bg-neutral-30"> Blog Grid</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-list.php.html" class="nav-submenu__link hover-bg-neutral-30"> Blog List</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-classic.php.html" class="nav-submenu__link hover-bg-neutral-30"> Blog Classic</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-details.php.html" class="nav-submenu__link hover-bg-neutral-30"> Blog Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.php.html" class="nav-menu__link">Contact</a>
    </li>
</ul>
            <div class="d-sm-none d-block mt-24">
                <div class="header-select border border-neutral-30 bg-main-25 rounded-pill position-relative">
    <span class="select-icon d-xxl-block d-none position-absolute top-50 translate-middle-y inset-inline-start-0 z-1 ms-lg-4 ms-12 text-xl pointer-event-none d-flex">
        <i class="ph-bold ph-squares-four"></i>
    </span>
    <select class="js-example-basic-single border-0" name="state">
        <option value="1" selected disabled>Categories</option>
        <option value="1">Design</option>
        <option value="1">Development</option>
        <option value="1">Architecture</option>
        <option value="1">Life Style</option>
        <option value="1">Data Science</option>
        <option value="1">Marketing</option>
        <option value="1">Music</option>
        <option value="1">Typography</option>
        <option value="1">Finance</option>
        <option value="1">Motivation</option>
    </select>
</div>            </div>

        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->
<!-- ==========message dashbord start=========== -->
<div class="dashbord bg-main-25">
    <div class="d-flex">
        
<!-- ========Dashdord Sidebar start======== -->
<div class="dashboard-sidebar px-20 py-24 max-w-288-px bg-white w-100 border-end border-neutral-40 position-relative">
    <a href="dashbord-settings.php.html#">
      <img src="assets/images/logo/logo.png" alt="" class="">
    </a>
    <span class="w-100 bg-neutral-40 mb-24 mt-24 h-1"></span>
     <div class="overflow-x-auto">
        <div class="scrollbar min-w-max"> 
            <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Henry,</span>
               <ul>
                   <li class="mb-8">
                       <a href="admin-dashbord.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph-bold ph-house"></i></span>
                       Dashboard</a>
                   </li>
                   <li class="mb-8">
                       <a href="my-profile.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-user-circle"></i></span>
                       My Profile</a>
                   </li>
                   <li class="mb-8">
                       <a href="dashbord-message.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-chat-dots"></i></span>
                       Message</a>
                   </li>
                   <li class="mb-8">
                       <a href="dashbord-courses.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-watch"></i></span>
                       Courses</a>
                   </li>
                   <li class="mb-8">
                       <a href="dashbord-wishlist.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-bookmark-simple"></i></span>
                       Wishlist</a>
                   </li>
                   <li class="mb-8">
                       <a href="deshbord-reviews.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-sparkle"></i></span>
                       Reviews</a>
                   </li>
                   <li class="mb-8">
                       <a href="dashbord-quiz-attempts.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-seal-question"></i></span>
                       Quiz Attempts</a>
                   </li>
                   <li class="mb-8">
                       <span class="fw-normal text-14 text-neutral-500">Admin</span>
                   </li>
                   <li class="mb-8">
                       <a href="dashbord-settings.php.html" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-gear"></i></span>
                       Settings</a>
                   </li>
               </ul>
           </div>
     </div>

     <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
         <a href="sign-in.php.html" class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
             <span class="text-16 text-main-600 item-hover__text transition-03">
                 <i class="ph ph-sign-out"></i>
             </span>
             Logout
         </a>
     </div>
</div>
<!-- ========Dashdord Sidebar end======== -->
        <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
<div class="px-24 py-16 bg-neutral-10 border-bottom border-neutral-40 w-100">
    <div class="d-flex align-items-center justify-content-between gap-24 w-100">
        <div class="d-flex align-items-center gap-24">
            <button type="button" class="toggle-dashbord-button text-neutral-500 text-28 line-height-1 d-lg-none d-block">
                <i class="ph-bold ph-list"></i>
            </button>
            <div class="max-w-357-px position-relative d-sm-block d-none">
                <form action="dashbord-settings.php.html#">
                    <input type="text" placeholder="Search" class="ps-16 pe-36 py-9 border border-neutral-40 rounded-pill focus-visible-outline focus-border-main-600 text-14 line-height-1">
                    <button type="button" class="w-28 h-28 bg-main-600 text-white text-16 rounded-circle justify-content-center align-items-center d-flex position-absolute top-50-percent translate-middle-y inset-inline-end-0-px me-4">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="d-flex align-items-center gap-16">
            <a href="dashbord-settings.php.html#" class="px-20 py-10 border-main-600 border rounded-pill text-14 text-main-600 hover-bg-main-600 hover-text-white hover-border-600 d-lg-block d-none line-height-1">Create a New Course</a>
            <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600  transition-03">
                <button type="button" class="hover-text-white transition-03">
                    <i class="ph ph-translate"></i>
                </button>
            </div>
            <div class="position-relative">
                <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 position-relative">
                    <div>
                        <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill hover-bg-main-600 hover-text-white transition-03" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ph ph-bell-simple"></i>
                        </button>
                        <ul class="dropdown-menu rounded-12">

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36">
                                            <img src="assets/images/thumbs/reviewer-img1.png" alt="">
                                        </span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Ronald Richards</span>
                                            <p class="text-sm text-line-1 text-neutral-300">You can stitch between artboards</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36"><img src="assets/images/thumbs/reviewer-img4.png" alt=""></span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Arlene McCoy</span>
                                            <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36"><img src="assets/images/thumbs/instructor-details-thumb.png" alt=""></span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Annette Black</span>
                                            <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="position-absolute inset-inline-start-22px top--20-percent">
                        <span class="bg-main-600 text-white w-16 h-16 rounded-circle text-9 d-flex justify-content-center align-items-center">2</span>
                    </div>
                </div>
            </div>

            <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600 transition-03">
                <button type="button" class=" hover-text-white transition-03">
                    <i class="ph ph-chat-dots"></i>
                </button>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                </button>
                <ul class="dropdown-menu rounded-12">
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="my-profile.php.html">
                        <span><i class="ph ph-user-circle"></i></span>
                        <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="dashbord-settings.php.html">
                        <span><i class="ph ph-gear"></i></span>
                        <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="sign-in.php.html">
                        <span><i class="ph ph-power"></i></span>
                        <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- =====message nab end======== -->
            <!-- ============Feedbacks start============ -->
            <div class="px-24 py-24">

                <div class="px-40 py-40 bg-white rounded-10 mb-24">
                    <h4 class="text-16 fw-medium text-neutral-700 mb-0 border-bottom-dashed pb-24">Account Settings</h4>
                    <div class="mt-24">

                        <h4 class="text-18 fw-normal text-neutral-700 mb-16">Profile Photo</h4>

                        <form action="dashbord-settings.php.html#" class="border-bottom-dashed pb-24">
                            <div class="avatar-upload ">
                                <div class="d-flex align-items-center gap-40 flex-wrap">
                                    <div class="avatar-preview flex-shrink-0">
                                        <div id="imagePreview" style="background-image: url(assets/images/thumbs/testimonials-three-img3.png);" class="">
                                        </div>
                                    </div>
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg">
                                    </div>
                                    <div class="d-flex align-items-center gap-16 flex-wrap">
                                        <label for="imageUpload" class="bg-main-600 px-24 py-12 rounded-12 fw-semibold text-16 text-white transition-04 hover-bg-main-700">Upload Image</label>
                                        <button type="reset" class="border-main-600 border px-24 py-12 rounded-12 fw-semibold text-16 text-main-600 hover-bg-main-50 transition-04">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="mt-24 row align-items-center gy-4 mb-24">
                            <div class="col-lg-6">
                                <h4 class="text-18 fw-medium text-neutral-700 mb-16">First Name</h4>
                                <form action="dashbord-settings.php.html#">
                                    <input type="text" placeholder="Courtney" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="text-18 fw-medium text-neutral-700 mb-16">Last Name</h4>
                                <form action="dashbord-settings.php.html#">
                                    <input type="text" placeholder="Henry" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                </form>
                            </div>
                        </div>

                        <div class="w-100 mb-24">
                            <h4 class="text-18 fw-medium text-neutral-700 mb-16">Gmail</h4>
                            <form action="dashbord-settings.php.html#">
                                <input type="text" placeholder="Example@email.com " class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                            </form>
                        </div>

                        <div class="w-100 mb-24">
                            <h4 class="text-18 fw-medium text-neutral-700 mb-16">Phone
                                <span class="text-neutral-100">(Optional)</span>
                            </h4>
                            <form action="dashbord-settings.php.html#">
                                <input type="text" placeholder="Example@email.com" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                            </form>
                        </div>

                        <div class="mb-24">
                            <h4 class="text-18 fw-medium text-neutral-700 mb-16">Gender :</h4>
                            <div class="d-flex align-items-center gap-24 flex-wrap">
                                <div class="form-check common-check common-radio mb-0">
                                    <input class="form-check-input" type="radio" name="gender" id="Male">
                                    <label class="form-check-label fw-normal flex-grow-1" for="Male">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check common-check common-radio mb-0">
                                    <input class="form-check-input" type="radio" name="gender" id="Female">
                                    <label class="form-check-label fw-normal flex-grow-1" for="Female">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check common-check common-radio mb-0">
                                    <input class="form-check-input" type="radio" name="gender" id="Other">
                                    <label class="form-check-label fw-normal flex-grow-1" for="Other">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-24">
                            <h4 class="text-18 fw-medium text-neutral-700 mb-16">Tagline :</h4>
                            <div class="border-neutral-30 border rounded-16">
                                <div class="px-32 py-16">

                                    <!-- Editor Toolbar Start -->
                                    <div class="editor">
                                        <div id="editor" class="bg-neutral-20 border-0 border-top border-neutral-30 w-100">
                                            <p class="h-166-px focus-visible-outline text-14 fw-normal text-neutral-700">I'm a Product Designer based in Melbourne, Australia. I specialise in UX/UI design, brand strategy, and Webflow development. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                        </div>
                                    </div>
                                    <!-- Editor Toolbar end -->

                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-40">
                                <div class="form-check common-check mb-16">
                                    <input class="form-check-input rounded-circle" type="checkbox" name="tutorType" id="Collage">
                                    <label class="form-check-label fw-normal flex-grow-1" for="Collage">I agree to the privacy & policy</label>
                                </div>
                                <div class="form-check common-check mb-0">
                                    <input class="form-check-input rounded-circle" type="checkbox" name="tutorType" id="collage">
                                    <label class="form-check-label fw-normal flex-grow-1" for="Collage">I agree with all terms & conditions</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-16">
                                <button type="button" class="bg-main-600 px-24 py-12 rounded-12 fw-semibold text-white hover-bg-main-700 transition-03">
                                    Save Change
                                </button>
                                <button type="button" class="border-main-600 border px-24 py-12 fw-semibold rounded-12 hover-bg-main-50 transition-03 ">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="px-40 py-40 bg-white rounded-10 mb-24">
                    <h4 class="text-16 fw-medium text-neutral-700 mb-0 border-bottom-dashed pb-24">Address</h4>
                    <div class="mt-24">
                        <div class="mb-44">
                            <div class="w-100">
                                <h4 class="text-18 fw-medium text-neutral-700 mb-16">Location</h4>
                                <form action="dashbord-settings.php.html#">
                                    <input type="text" placeholder="Select Country" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                </form>
                            </div>
                            <div class="mt-24 row align-items-center gy-4 mb-24 flex-wrap">
                                <div class="col-lg-6">
                                    <h4 class="text-18 fw-medium text-neutral-700 mb-16">Address 1</h4>
                                    <form action="dashbord-settings.php.html#">
                                        <input type="text" placeholder="Enter Address" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <h4 class="text-18 fw-medium text-neutral-700 mb-16">Address 2
                                        <span class="text-neutral-100">(optional)</span>
                                    </h4>
                                    <form action="dashbord-settings.php.html#">
                                        <input type="text" placeholder="Enter Address" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                    </form>
                                </div>
                            </div>
                            <div class="w-100">
                                <h4 class="text-18 fw-medium text-neutral-700 mb-16">Zip Code</h4>
                                <form action="dashbord-settings.php.html#">
                                    <input type="text" placeholder="Enter Code" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                                </form>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-16">
                            <button type="button" class="bg-main-600 px-24 py-12 fw-semibold rounded-12 text-white hover-bg-main-700 transition-03">
                                Save Change
                            </button>
                            <button type="button" class="border-main-600 border px-24 py-12 fw-semibold rounded-12 hover-bg-main-50 transition-03 ">
                                Cancel
                            </button>
                        </div>
                    </div>

                </div>

                <div class="ps-40 pe-60 py-40 bg-white rounded-10 mb-24">
                    <h4 class="text-16 fw-medium text-neutral-700 mb-0 border-bottom-dashed pb-24">Change Password</h4>
                    <div class="mt-24 mb-40">
                        <div class="row gy-4 align-items-center mb-24 flex-wrap ">
                            <div class="col-sm-6 col-xs-6">
                                <label for="oldPassword" class="fw-medium text-base text-neutral-800 mb-16">Old Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control ps-32 pe-60 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600" id="oldPassword" placeholder="***********">
                                    <span class="toggle-password text-16 position-absolute inset-inline-end-3-percent inset-block-start-18-px ph-bold ph-eye-closed" id="#oldPassword"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <label for="newPassword" class="fw-medium text-base text-neutral-800 mb-16">New Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control ps-32 pe-60 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600" id="newPassword" placeholder="***********">
                                    <span class="toggle-password text-16 position-absolute inset-inline-end-3-percent inset-block-start-18-px ph-bold ph-eye-closed" id="#newPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="confirmPassword" class="fw-medium text-base text-neutral-800 mb-16">Confirm Password</label>
                            <div class="position-relative">
                                <input type="password" class="form-control ps-32 pe-60 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600" id="confirmPassword" placeholder="***********">
                                <span class="toggle-password text-16 position-absolute inset-inline-end-3-percent inset-block-start-18-px ph-bold ph-eye-closed" id="#confirmPassword"></span>
                            </div>
                        </div>

                    </div>
                    <div class="mb-40">
                        <h4 class="fw-medium text-18 text-neutral-700 mb-16">New password must contain :</h4>
                        <div>
                            <ul>
                                <li class="d-flex align-items-center gap-12 mb-12">
                                    <span class="w-6 h-6 bg-main-600 rounded-circle"></span>
                                    <span class="fw-normal text-14 text-neutral-700">At least 8 characters</span>
                                </li>
                                <li class="d-flex align-items-center gap-12 mb-12">
                                    <span class="w-6 h-6 bg-main-600 rounded-circle"></span>
                                    <span class="fw-normal text-14 text-neutral-700">At least 1 lower letter (a-z)</span>
                                </li>
                                <li class="d-flex align-items-center gap-12 mb-12">
                                    <span class="w-6 h-6 bg-main-600 rounded-circle"></span>
                                    <span class="fw-normal text-14 text-neutral-700">At least 1 uppercase letter(A-Z)</span>
                                </li>
                                <li class="d-flex align-items-center gap-12 mb-12">
                                    <span class="w-6 h-6 bg-main-600 rounded-circle"></span>
                                    <span class="fw-normal text-14 text-neutral-700">At least 1 number (0-9)</span>
                                </li>
                                <li class="d-flex align-items-center gap-12 mb-12">
                                    <span class="w-6 h-6 bg-main-600 rounded-circle"></span>
                                    <span class="fw-normal text-14 text-neutral-700">At least 1 special characters</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 flex-wrap">
                        <button type="button" class="bg-main-600 px-24 py-12 rounded-12 fw-semibold text-white hover-bg-main-700 transition-03">
                            Save Change
                        </button>
                        <button type="button" class="border-main-600 border px-24 py-12 fw-semibold rounded-12 hover-bg-main-50 transition-03 ">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="px-40 py-40 bg-white rounded-10 mb-24">
                    <h4 class="text-16 fw-medium text-neutral-700 mb-0 border-bottom-dashed pb-24">Privacy</h4>
                    <div class="mt-24 mb-40">
                        <span class="fw-normal text-18 text-neutral-700 mb-16">Who can see your profile photo?</span>
                        <div class="w-100">
                            <form action="dashbord-settings.php.html#">
                                <input type="text" placeholder="Anyone" class="px-32 py-16 fw-normal text-14 text-neutral-700 w-100 bg-neutral-20 border-neutral-30 border rounded-14 focus-visible-outline focus-border-main-600">
                            </form>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 flex-wrap">
                        <button type="button" class="bg-main-600 px-24 py-12 fw-semibold rounded-12 text-white hover-bg-main-700 transition-03">
                            Save Change
                        </button>
                        <button type="button" class="border-main-600 border px-24 py-12 fw-semibold rounded-12 hover-bg-main-50 transition-03 ">
                            Cancel
                        </button>
                    </div>
                </div>

                <div class="px-40 py-40 bg-white rounded-10">
                    <h4 class="text-16 fw-medium text-neutral-700 mb-0 border-neutral-40 border-bottom pb-24">Privacy</h4>
                    <div class="mt-24">
                        <div class="mb-40">
                            <p class="fw-normal text-14 text-neutral-700 mb-16">When you delete your account, you lose access to Front account services, and we permanently delete your personal data. You can cancel the deletion for 14 days.</p>
                            <div class="form-check common-check mb-0">
                                <input class="form-check-input rounded-circle" type="checkbox" name="tutorType" id="school-Collage">
                                <label class="form-check-label fw-normal flex-grow-1" for="Collage">Confirm that I want to delete my account.</label>
                            </div>
                        </div>
                        <button type="button" class="border-main-600 border px-24 py-12 fw-semibold rounded-12 hover-bg-main-50 transition-03 ">
                            Cancel
                        </button>
                    </div>
                </div>

            </div>

            <!-- ============Feedbacks end============ -->

              <!-- =========message profile footer start============== -->
<div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
        <p class="fw-medium text-14 text-neutral-500">
            Copyright ©2025 
            <a href="admin-dashbord.php.html" class="text-main-600 fw-medium">EduAll</a>.
            All Rights Reserved
        </p>
        <div class="d-flex align-items-center gap-24">
            <a href="dashbord-settings.php.html#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
            <a href="dashbord-settings.php.html#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
        </div>
    </div>
</div>
<!-- =========message profile footer end============== -->        </div>
        <!-- ==========message dashbord end============ -->
    </div>
</div>

        <!-- Jquery js -->
        <!-- <script src="assets/js/jquery-3.7.1.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap Bundle Js -->
        <script src="assets/js/boostrap.bundle.min.js"></script>
        <!-- select2 Js -->
        <script src="assets/js/select2.min.js"></script>
        <!-- Phosphor Icon Js -->
        <script src="assets/js/phosphor-icon.js"></script>
        <!-- Slick js -->
        <script src="assets/js/slick.min.js"></script>
        <!-- Slick js -->
        <script src="assets/js/counter.min.js"></script>
        <!-- magnific popup -->
        <script src="assets/js/magnific-popup.min.js"></script>
        <!-- Jquery Ui js -->
        <script src="assets/js/jquery-ui.js"></script>
        <!-- marquee js -->
        <script src="assets/js/marquee.min.js"></script>
        <!-- react charts-->
        <script src="assets/js/apexcharts.js"></script>
        <!-- plyr Js -->
        <script src="assets/js/plyr.js"></script>
        <!-- vanilla Tilt -->
        <!-- Editor js Toolbar Start -->
        <script src="assets/js/editor-quill.js"></script>
        <!-- dataTables -->
        <script src="assets/js/dataTables.min.js"></script>
        <!-- Tilt -->
        <script src="assets/js/vanilla-tilt.min.js"></script>
        <!-- wow -->
        <script src="assets/js/wow.min.js"></script>

        <script src="assets/js/aos.js"></script>

        <!-- main js -->
        <script src="assets/js/main.js"></script>

<script>
    // =============dashbord settings start==================
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function() {
        readURL(this);
    });
    // =============dashbord settings end================== 


    // ================== Password Show Hide Js Start ==========
    $(".toggle-password").on('click', function() {
        $(this).toggleClass("active");
        var input = $($(this).attr("id"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
            $(this).removeClass('ph-bold ph-eye-closed');
            $(this).addClass('ph-bold ph-eye');
        } else {
            input.attr("type", "password");
            $(this).addClass('ph-bold ph-eye-closed');
        }
    });
    // ========================= Password Show Hide Js End ===========================

    // ============================= Initialize Quill editor js Start ============================= 

    function editorFunction(editorId) {
        const quill = new Quill(editorId, {
            theme: 'snow'
        });
    }
    editorFunction('#editor');
    // editorFunction('#editorTwo'); 
    // ============================= Initialize Quill editor js End ============================= 
</script>


</body>

</html>